.About-container{
    display:flex;
    gap: 3em;
}
.About-container.dark{
    background-color: black;
    color: white;
}
.About-left img{
    width: 25em;
    margin-left:6em;
    border-radius:85px;
}
.About-right{
    margin-top: 7em;
}
.About-right h1{
    color:#1b2119
}
.About-right h1 span{
    color:green;
}