.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.hero-container.dark{
    flex-direction: row-reverse;
    background-color: black;
}
.hero-left{
    padding: 0 0 3rem 3rem;
}
.hero-right{
   padding: 0 5rem 0 0;
}
.hero-container.dark img{
    width: 24rem;
    padding: 0 0 0 11rem;
}
.hero-container.dark h1,
.hero-container.dark h2 {
    color: white;
    padding: 0 7rem 0 0;
}
.btn{
    display:inline-block;
    padding:10px;
    margin-top:10px;
    background-color:red;
    color:white;
    border-radius:8px;
    text-decoration:none;
    font-family: "Poppins", sans-serif;
    font-style:normal;
}