.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    padding-top:8vw;
    opacity:1;
    
}
.hero-container.dark{
    flex-direction: row-reverse;
    background-color: black;
}
.hero-left{
    padding: 0 0 3vw 3vw;
}
.hero-right{
   padding: 0 5vw 0 0;
}
.hero-right img{
    border-radius:20px;
}
.hero-container.dark img{
    width: 30vw;
    margin: 0 0 0 11vw;
}
.hero-container.dark h1,
.hero-container.dark h2 {
    color: white;
    padding: 0 11vw 0 0;
    font-size:clamp(8px,2vw,3em);
}
.btn {
  display: inline-block;
  padding: 1vw;
  margin-top: 1vw;
  background-color: red;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: clamp(10px, 1.2vw, 3em);
  transition: all 1s ease;
  opacity:1;
}

.btn:hover {
  transform: translate(3px, -5px);
  box-shadow: 0 0 15px 3px rgba(230, 57, 70, 1);
}

