.nav-container{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #1a241c;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container.light{
    background-color: white;
}
.nav-container.dark{
    background-color: black;
}
.nav-links.light{
    background-color:white;
    color:black;
}
.nav-links.dark{
    background-color:black;
}
.nav-left{
    display:flex;
    align-items: center;
    gap:8px;
    padding: 5px 0px 10px 15px;
    cursor: pointer;
}
.logoimg{
    width: 50px;
    border-radius: 50%;
}
.nav-left img{
    width: 50px;
}
.nav-links{
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    gap: 10px;
    color: #ebdf09;
}
.nav-links li{
    cursor: pointer;
}
.nav-links li img{
    width:30px;
}
.nav-links li:nth-child(4){
    padding:6px;
    border: 1px solid black;
    background-color:black;
    border-radius:10px;
}
.nav-links li:nth-child(4).dark{
    background-color: white;
    color: black;
}
.menu{
    display:none;
}
@media (max-width: 768px){
    .nav-container{
        position:relative;
    }
     .nav-right{
        position: absolute;
        right:1rem;
        top: calc(100% + 0.5rem);
        opacity:0;  
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    }
    .nav-links li{
        white-space: nowrap;
    }
    .nav-right.open{
        animation: dropdown 0.8s ease forwards;
    }
    @keyframes dropdown{
        from{
            opacity:0;
            transform: translateY(-20px);
        }
        to{
            opacity:1;
            transform: translateY(0);
        }
    }
    .menu{
        display: block;
        width: 3rem;
        cursor: pointer;
    }
   
    .nav-links{
        position:absolute;
        right:0;
        top: calc(100% + 0.5rem);
        padding: 1rem;
        border-radius: 0.25rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);           
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 12px;
        width=max-content;
        z-index=1000;
        

    }
    .nav-links.open{
        display:flex;
    }
}