.skills{
    overflow-x:hidden;
}
.skills h2{

    padding:4em 0 0 8em;
}
skills.light{
    background-color:white;
    color:black;
}
.skills.dark{
    background-color:black;
    color:white;
}
.skills.dark .line1,
.skills.dark .line2
{
    background-color:white;
}
.icons{
    display:flex;
    justify-content: flex-end;
    margin-right: 5rem;
    gap:1rem;
}
.icons img{
    width: 5rem;
    border-radius: 50%;
    
}
.line1{
    width: 50rem;
    height: 1rem;
    background-color: black;
    margin-bottom:20rem;
    margin-left:auto;
    overflow-x:hidden;
}
.line2{
    width: 40rem;
    height: 1rem;
    background-color: black;
    margin-bottom:3em;
}
